* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: radial-gradient( #5ac9725e, #1d202b);
    background-color: #1d202b;
	color: #000000;
    
	font-family: 'Roboto', sans-serif;
}



.contenedor {
	width: 90%;
	max-width: 1920px;
	margin: auto;
	padding: 40px 0;
    


    /* --- GRID ---  */
	display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-countries {
	width: 95%;
    text-shadow: #000000 0px 1px 2px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.card:hover {
    background-color: #1d202b;
    border: 2px solid #39e5869f;
    border-style: ridge;
}


.card .textos {
	height: 100%;

    
    display: grid;
    grid-template-rows: 1fr auto;
	
}
.text-light {
    color: #fafafa;
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    font-size: 18px;
    color: antiquewhite;
    text-shadow: #2b2b2b 1px 2px 3px;
 
    /* -- FLEXBOX -- */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    /* --- GRID ---
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center; */

}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #39e586;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 17px;
    color: aliceblue;
    text-shadow: #2b2b2b 1px 2px 3px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.boton:hover {
    background: linear-gradient(#39e586, #04512796);
    background-color: #39e586;
}

.btn-text {
    text-decoration: none;
    color: aliceblue;
}


@media screen and (max-width: 1000px) {
    .contenedor {
        width: 75%;
        margin: auto;
        padding: 40px 0;

        /* --- GRID ---  */
        display: grid;
        grid-template-columns: 2fr;
        gap: 20px;
    }
    
    .contenedor-countries {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    
}

@media screen and (max-width: 600px) {
    .contenedor {
        width: 90%;
        margin: auto;
        padding: 40px 0;
        /* --- GRID ---  */
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .contenedor-countries {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
